Boilerplate check and downref to BCP/STD issues

(Address this issue through PRs against the sub-issues please)

idnits2 at https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-bormann-asdf-instance-information-00.txt produces

```
idnits 2.17.1 

draft-bormann-asdf-instance-information-00.txt:
-(3): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding
-(5): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding

  Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
  ----------------------------------------------------------------------------

  == There are 7 instances of lines with non-ascii characters in the document.


  Checking nits according to https://www.ietf.org/id-info/checklist :
  ----------------------------------------------------------------------------

  ** There is 1 instance of too long lines in the document, the longest one
     being 2 characters in excess of 72.


  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  == The document doesn't use any RFC 2119 keywords, yet seems to have RFC
     2119 boilerplate text.

  -- The document date (8 April 2025) is 50 days in the past.  Is this
     intentional?


  Checking references for intended status: Proposed Standard
  ----------------------------------------------------------------------------

     (See RFCs 3967 and 4897 for information about using normative references
     to lower-maturity documents in RFCs)

  == Unused Reference: 'I-D.bormann-asdf-sdf-mapping' is defined on line 622,
     but no explicit reference was found in the text

  -- Possible downref: Non-RFC (?) normative reference: ref. 'BCP14'

  -- Possible downref: Non-RFC (?) normative reference: ref. 'STD97'


     Summary: 1 error (**), 0 flaws (~~), 3 warnings (==), 3 comments (--).

     Run idnits with the --verbose option for more detailed information about
     the items above.

```

On v3 at f8f2c10:
```
% node cli.js https://www.ietf.org/archive/id/draft-bormann-asdf-instance-information-00.txt
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
                      idnits ▶ 3.0.0-alpha
▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀

 Url  https://www.ietf.org/archive/id/draft-bormann-asdf-instance-information-00.txt
 Mode  normal [0]

☑️ Pre-parsing validations
☑️ Parsing document
☑️ Common validations
☑️ TXT-specific validations
☑️ TXT-specific - Internet-Draft validations

❌ Review the 6 errors, 4 warnings, 1 comment listed below.

▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 ERROR  6 nit(s) of error severity
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 1  Error
 └- Code - MISSING_REQLEVEL_BOILERPLATE
 └- Desc - An RFC2119 boilerplate is missing but a similar boilerplate was found.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7322.html#section-4.8.2

 2  Error
 └- Code - MISSING_REQLEVEL_BOILERPLATE
 └- Desc - One or more RFC2119 keywords are present but an RFC2119 boilerplate and a reference are missing.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7322.html#section-4.8.2
```
The boilerplate that is present is fine - the detection code needs to be updated to also accept RFC8175/BCP14 boilerplate.

```
 3  Error
 └- Code - POSSIBLE_DOWNREF
 └- Desc - Reference to BCP14 is possible downref
 └- Ref  - https://datatracker.ietf.org/doc/BCP14

 4  Error
 └- Code - POSSIBLE_DOWNREF
 └- Desc - Reference to I-D.ietf-asdf-sdf is possible downref
 └- Ref  - https://datatracker.ietf.org/doc/I-D.ietf-asdf-sdf

 5  Error
 └- Code - POSSIBLE_DOWNREF
 └- Desc - Reference to STD97 is possible downref
 └- Ref  - https://datatracker.ietf.org/doc/STD97
```
The BCP and STD possible downref notes in idnits2 are not errors. These really should just be called out as _comments_ asking people to inspect them STD are at the highest levels of standardization and BCPs are typically treated as at the same or higher level as PS.

Error 4 above is fine when checking at this level.
```

 6  Error
 └- Code - LINE_TOO_LONG
 └- Desc - The document contains 1 over-long line of more than 72 characters.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 5 Col 74

▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 WARNING  4 nit(s) of warning severity
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 7  Warning
 └- Code - DOC_DATE_IN_PAST
 └- Desc - The document date is 50 days in the past. Is this intentional?
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#date

 8  Warning
 └- Code - REFERENCE_NOT_USED
 └- Desc - The reference RFC [I-D.bormann-asdf-sdf-mapping] is listed in the References section but is not mentioned in the document text.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 9  Warning
 └- Code - UNEXPECTED_DOC_VERSION
 └- Desc - The document version is unexpected. The latest version is 1 but your document is 0.

 10  Warning
 └- Code - HYPHENATED_LINE_BREAKS
 └- Desc - Document has hyphenated line-breaks.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 775 Col 65, Ln 775 Col 65

▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 COMMENT  1 nit(s) of comment severity
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 11  Comment
 └- Code - NON_ASCII_UTF8
 └- Desc - Review RFC7997 to ensure your document respects UTF-8 rules for non-ASCII.
 └- Ref  - https://datatracker.ietf.org/doc/html/rfc7997#section-3

----------------------------------------------------------------

❌ Review the 6 errors, 4 warnings, 1 comment listed above.
```
