It's OK for an RFC to be updated by several other RFCs

at 5469c26fab8f608fba3a90ea964fd78cfeb7c394, idnits3 run over https://www.ietf.org/archive/id/draft-ietf-tsvwg-nqb-29.xml reports:

```
 5  Warning
 └- Code - UPDATES_UPDATED_RFC
 └- Desc - The <rfc> field states that it updates RFC 8325 but it's already updated by RFC RFC8622.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#updates
 └- Path - rfc.updates
```

This is not a valid warning. I suspect it's interpolated from the requirement to warn when a document tries to Obsolete an already Obsoleted RFC. But it's expected that RFCs can be updated by _many_ RFCs (see, e.g., RFC3261).

Also, there's a nit issue in the `Desc` field at "by RFC RFC622" that probably exists in the check for Obsoleted.

It _would_ be valid to warn about Updating an Obsoleted RFC.

But see #6 which asks for the warning above - The Desc should be modified though, to say something like "That's ok, but consider whether this document should be updating one of the other listed documents instead" rather than "but it's already updated".

Fixed by e419b507f4ab3e6d49b779055675825145b9bdd7