idnits does not properly handle RFC 8792 folding

RFC 8792 defines how to fold long lines in diagrams. Here's an example from [Section 9.2.1 of RFC8792](https://www.rfc-editor.org/rfc/rfc8792#section-9.2.1):

```
========== NOTE: '\' line wrapping per RFC 8792 ===========

12345678901234567890123456789012345678901234567890123456789012345678\
90123456789012345678901234567890123456789012345678901234567890123456\
78901234567890123456789012345678901234567890123456789012345678901234\
56789012345678901234567890123456789012345678901234567890123456789012\
34567890
```

Documents that do this also reference 8792:
```
   [RFC8792]  Watsen, K., Auerswald, E., Farrel, A., and Q. Wu,
              "Handling Long Lines in Content of Internet-Drafts and
              RFCs", RFC 8792, DOI 10.17487/RFC8792, June 2020,
              <https://www.rfc-editor.org/rfc/rfc8792>.
```

But idnits incorrectly reports the following issue:
```
  == Unused Reference: 'RFC8792' is defined on line 664, but no explicit reference was found in the text
```

This happened for example in draft-ietf-httpbis-unprompted-auth-09.

I think the fix would be to look for `RFC 8792` inside diagrams.

This only occurs on xml input. The issue is still present as of 5469c26fab8f608fba3a90ea964fd78cfeb7c394

This is still present as of 2c4eec4e1cf7f3b6cad25820b54b74ad332555d7