OBSOLETE_*_REFERENCE errors are not as helpful as they could be.

As of 5d4a9b4f129d51ab4dc0bb15e507f3461b656dc2 on `draft-kowalik-rpp-architecture-02.txt`, idnits3 complains
```
 6  Error
 └- Code - OBSOLETE_UNCLASSIFIED_REFERENCE
 └- Desc - The unclassified reference 7231 is obsolete and has been replaced by: RFC9110.
 └- Ref  - https://www.rfc-editor.org/info/rfcundefined
```

* the Ref provided is not helpful - it should point to something at authors.ietf.org that says "update your references".
* It would likely be less confusing for the Desc to say "RFC 7231". (I remember another issue where we had a redundant "RFC RFC1234" problem, so look for that interaction).
* The set [OBSOLETE_NORMATIVE_REFERENCE, OBSOLETE_INFORMATIVE_REFERENCE, OBSOLETE_UNCLASSIFIED_REFERENCE] may be useful for internal processing (maybe even for software looking for API level output), but the distinction is unnecessary for the output meant for people. It would be better to collapse these into OBSOLETE_REFERENCE if possible.